@use '../utilities/' as u;
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

:root {
   /* font-families */
   --ff-primary: 'Manrope', sans-serif;

   /* font-sizes */
   --fs-900: clamp(5rem, 2.2rem + 8vw, 9.375rem);
   --fs-800: 3.5rem;
   --fs-700: 3rem;
   --fs-600: 2.5rem;
   --fs-500: 2rem;
   --fs-400: 1.5rem;
   --fs-350: 1.125rem;
   --fs-300: 1rem;
   --fs-200: 0.9375rem;
   --fs-150: 0.875rem;
   --fs-100: 0.75rem;

   // letter-spacing
   --ls-1: 4.75px;
   --ls-2: 3.5px;
   --ls-3: 2.7px;
   --ls-4: 2.35px;
   --ls-5: 2px;

   // font weight
   --fw-regular: 400;
   --fw-medium: 500;
   --fw-semi-bold: 600;
   --fw-bold: 700;
   --fw-extra-bold: 800;
}

// @media (min-width: 29.6875em) {
// 	:root {
// 		--fs-800: 5rem;
// 		--fs-700: 2.5rem;
// 		--fs-600: 1.5rem;
// 		--fs-500: 1.25rem;
// 		--fs-400: 1rem;
// 	}
// }

// @media (min-width: 51.25em) {
// 	:root {
// 		--fs-800: 6.25rem;
// 		--fs-700: 3.5rem;
// 		--fs-600: 2rem;
// 		--fs-500: 1.75rem;
// 		--fs-400: 1.125rem;
// 	}
// }

body {
   color: hsl(var(--clr-dark));
   font-family: var(--ff-primary);
}
h1,
h2,
h3 {
   color: hsl(var(--clr-blue));
}
a {
   text-decoration: none;
}
.logo {
   font-size: var(--fs-400);
   font-weight: var(--fw-bold);
   color: hsl(var(--clr-blue));
   &--footer {
      color: hsl(var(--clr-accent));
   }
}
.header {
   &__nav {
      font-weight: var(--fw-medium);
   }
}
.link,
.link--active {
   color: hsl(var(--clr-dark));
}
.login-btn,
.learn-more {
   color: hsl(var(--clr-white));
   text-align: center;
   &:hover {
      color: hsl(var(--clr-accent));
   }
   transition: color 250ms ease;
}

.hero__description {
   .hero__heading {
      font-size: var(--fs-400);
      font-weight: var(--fw-bold);
      @include u.breakpoint-down(screen-md) {
         text-align: center;
      }
      @include u.breakpoint(screen-md) {
         letter-spacing: var(--ls-3);
         font-size: var(--fs-600);
      }
   }
   p {
      font-weight: var(--fw-regular);
      @include u.breakpoint(screen-md) {
         font-size: var(--fs-350);
      }
   }

   .action-btn {
      font-weight: var(--fw-semi-bold);
      letter-spacing: var(--ls-2);
      @include u.breakpoint(screen-md) {
         font-size: var(--fs-300);
      }
      &:first-of-type {
         color: hsl(var(--clr-white));
      }
   }
}

.features__header {
   text-align: center;
   h2 {
      font-size: var(--fs-400);
   }
   p {
      max-width: 50ch;
      @include u.breakpoint(screen-md) {
         font-size: var(--fs-350);
         line-height: 1.7;
      }
   }
}
.feature__desc {
   h3 {
      font-size: var(--fs-400);
   }
   p {
      max-width: 40ch;
      font-size: var(--fs-300);
      @include u.breakpoint(screen-md) {
         font-size: var(--fs-350);
      }
   }
   @include u.breakpoint-down(screen-md) {
      text-align: center;
   }
}

.features__tab-btn {
   font-size: var(--fs-300);
   font-weight: var(--fw-medium);
   transition: color 250ms ease;
   &:hover {
      color: hsl(var(--clr-accent));
   }
}

.input {
   &__label {
      font-size: var(--fs-100);
      letter-spacing: var(--ls-5);
      font-weight: var(--fw-semi-bold);
      color: hsl(var(--clr-gray));
   }
   &__field:focus + .input__label {
      color: hsl(var(--clr-accent));
      font-weight: var(--fw-bold);
   }
   &__field:placeholder-shown + .input__label {
      font-size: var(--fs-200);
      letter-spacing: var(--ls-4);
      font-weight: var(--fw-regular);
      color: hsl(var(--clr-dark));
   }
}

.login,
.signup {
   &__form-btn {
      color: hsl(var(--clr-white));
      font-weight: var(--fw-medium);
   }
   &__alt {
      font-size: var(--fs-150);
      color: hsl(var(--clr-dark));
   }
   &__link {
      font-size: var(--fs-200);
      font-weight: var(--fw-medium);
      a {
         font-weight: var(--fw-bold);
         text-decoration: underline;
         color: hsl(var(--clr-accent));
      }
   }
}

.explore__heading {
   color: hsl(var(--clr-white));
   font-size: var(--fs-600);
   text-align: center;
   max-width: 35ch;
}
.explore__btn {
   color: hsl(var(--clr-white));
}

.categories {
   h2 {
      font-size: var(--fs-700);
      text-align: center;
   }
}
.detail {
   color: hsl(var(--clr-white));
   font-weight: var(--fw-bold);
   span {
      font-size: var(--fs-600);
      letter-spacing: var(--ls-4);
   }
   a {
      color: hsl(var(--clr-white));
      text-decoration: underline;
      font-size: var(--fs-400);
      &:hover {
         color: hsl(var(--clr-red));
      }
   }
}
.intro__text {
   font-size: var(--fs-600);
   text-transform: uppercase;
   max-width: 30ch;
   text-align: center;
}

.market__heading{
   text-align: center;
   text-transform: uppercase;
}

.product {
   &__btn{
      text-transform: uppercase;
   }
   &__title{
      color: hsl(var(--clr-dark));
   }
}

.footer {
   color: hsl(var(--clr-white));
   &__support-links {
      a {
         color: hsl(var(--clr-white));
      }
      list-style: none;
      a:hover {
         color: hsl(var(--clr-accent));
         text-decoration: underline;
      }
   }
   &__social-links {
      a {
         color: hsl(var(--clr-white));
      }
      list-style: none;
      a:hover {
         color: hsl(var(--clr-accent));
         text-decoration: underline;
      }
   }
}
