@use '../utilities/' as u;
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

:root {
   /* font-families */
   --ff-primary: 'Manrope', sans-serif;

   /* font-sizes */
   --fs-900: 3rem;
   --fs-800: 2.5rem;
   --fs-700: 2rem;
   --fs-600: 1.5rem;
   --fs-500: 1.375rem;
   --fs-400: 1rem;
   // --fs-300: 1rem;
   --fs-200: 0.875rem;
   --fs-100: 0.75rem;

   @media (min-width: 29.6875em) {
      // --fs-800: 5rem;
      // --fs-700: 2.5rem;
      // --fs-600: 2rem;
      --fs-600: 1.75rem;
      --fs-400: 1.125rem;
   }
   // letter-spacing
   --ls-1: 4.75px;
   --ls-2: 3.5px;
   --ls-3: 2.7px;
   --ls-4: 2.35px;
   --ls-5: 2px;

   // font weight
   --fw-regular: 400;
   --fw-medium: 500;
   --fw-semi-bold: 600;
   --fw-bold: 700;
   --fw-extra-bold: 800;
}

// some typographic reset
body {
   color: hsl(var(--clr-dark));
   font-family: var(--ff-primary);
}
h1,
h2,
h3 {
   color: hsl(var(--clr-blue));
}
a {
   text-decoration: none;
}

// -------- Navigation -------- //
.logo {
   font-size: var(--fs-500);
   font-weight: var(--fw-bold);
   color: hsl(var(--clr-blue));
   &--footer {
      color: hsl(var(--clr-accent));
   }
}
.header {
   &__nav {
      text-align: center;
      font-weight: var(--fw-medium);
   }
}
.link,
.link--active {
   color: hsl(var(--clr-dark));
}
.login-btn,
.learn-more {
   text-align: center;
   color: hsl(var(--clr-white));
   transition: color 250ms ease;
   &:hover {
      color: hsl(var(--clr-accent));
   }
}

// -------- Landing page -------- //
.hero {
   &__heading {
      text-align: center;
      font-size: var(--fs-600);
      font-weight: var(--fw-bold);
      @include u.breakpoint(screen-md) {
         letter-spacing: var(--ls-3);
         font-size: var(--fs-900);
         text-align: left;
      }
   }
   p {
      font-weight: var(--fw-regular);
      font-size: var(--fs-400);
   }
   &__action {
      .action-btn {
         font-weight: var(--fw-semi-bold);
         letter-spacing: var(--ls-2);
         font-size: var(--fs-400);
         text-align: center;
         &:first-of-type {
            color: hsl(var(--clr-white));
         }
         &:last-of-type {
            color: hsl(var(--clr-accent));
         }
      }
   }
}

.features__header {
   text-align: center;
   h2 {
      font-size: var(--fs-500);
   }
   p {
      max-width: 50ch;
      font-size: var(--fs-400);
      @include u.breakpoint(screen-md) {
         line-height: 1.7;
      }
   }
}
.feature__desc {
   h3 {
      font-size: var(--fs-500);
   }
   p {
      max-width: 40ch;
      font-size: var(--fs-400);
   }
   @include u.breakpoint-down(screen-md) {
      text-align: center;
   }
}

.features__tab-btn {
   font-size: var(--fs-400);
   font-weight: var(--fw-medium);
   transition: color 250ms ease;
   &:hover {
      color: hsl(var(--clr-accent));
   }
}

// -------- Login & signup -------- //
.login,
.signup {
   &__form-btn {
      color: hsl(var(--clr-white));
      font-weight: var(--fw-medium);
   }
   &__alt {
      font-size: var(--fs-200);
      color: hsl(var(--clr-dark));
   }
   &__options {
      color: hsl(var(--clr-dark));
   }
   &__link {
      font-size: var(--fs-200);
      font-weight: var(--fw-medium);
      a {
         font-weight: var(--fw-bold);
         text-decoration: underline;
         color: hsl(var(--clr-accent));
      }
   }
}
.input {
   &__label {
      font-size: var(--fs-100);
      letter-spacing: var(--ls-5);
      font-weight: var(--fw-semi-bold);
      color: hsl(var(--clr-gray));
   }
   &__field:focus + .input__label {
      color: hsl(var(--clr-accent));
      font-weight: var(--fw-bold);
   }
   &__field:placeholder-shown + .input__label {
      font-size: var(--fs-200);
      letter-spacing: var(--ls-4);
      font-weight: var(--fw-regular);
      color: hsl(var(--clr-dark));
   }
   &__text{
      color: hsl(var(--clr-red));
      font-size: var(--fs-200);
      font-weight: var(--fw-medium);
   }
}
.input--invalid {
   .input__label {
      color: hsl(var(--clr-red));
   }
}

// -------- explore page -------- //
.explore {
   &__heading {
      color: hsl(var(--clr-white));
      text-align: center;
      max-width: 35ch;
      @include u.breakpoint(screen-md) {
         font-size: var(--fs-800);
      }
   }
   &__btn {
      color: hsl(var(--clr-white));
      &:hover {
         color: hsl(var(--clr-accent));
      }
   }
   &__intro {
      font-size: var(--fs-700);
      text-transform: uppercase;
      max-width: 30ch;
      text-align: center;
   }
   &__categories {
      h2 {
         font-size: var(--fs-700);
         text-align: center;
      }
   }
}

.detail {
   color: hsl(var(--clr-white));
   font-weight: var(--fw-bold);
   span {
      font-size: var(--fs-600);
      letter-spacing: var(--ls-4);
   }
   a {
      color: hsl(var(--clr-white));
      text-decoration: underline;
      font-size: var(--fs-400);
      &:hover {
         color: hsl(var(--clr-red));
      }
   }
}

// -------- market page -------- //
.market__heading {
   text-align: center;
   text-transform: uppercase;
}

.stall {
   .item-name {
      font-size: 1.25rem;
      color: hsl(var(--clr-blue));
      font-weight: var(--fw-bold);
   }
   .item-price {
      font-weight: var(--fw-bold);
      color: hsl(var(--clr-accent));
   }
   &__btn {
      text-transform: uppercase;
      color: hsl(var(--clr-blue));
      font-weight: var(--fw-semi-bold);
   }
   &__details-desc {
      font-size: var(--fs-400);
      font-weight: var(--fw-medium);
      color: hsl(var(--clr-dark));
   }
}

// -------- item detail page -------- //
.item__name {
   color: hsl(var(--clr-accent));
}
.item__desc {
   font-size: var(--fs-400);
   line-height: 1.7;
}
.detail-btn {
   text-transform: uppercase;
}
.back-btn {
   color: hsl(var(--clr-blue));
   font-weight: var(--fw-semi-bold);
   text-transform: uppercase;
   &:hover {
      color: hsl(var(--clr-accent));
   }
}

// -------- about page -------- //
.about {
   .breifing {
      font-size: var(--fs-400);
      line-height: 1.7;
   }
   &__title {
      font-size: var(--fs-400);
      color: hsl(var(--clr-accent));
   }
   &__headline {
      font-size: var(--fs-600);
      @include u.breakpoint(screen-md) {
         font-size: var(--fs-700);
      }
      color: hsl(var(--clr-blue));
      font-weight: var(--fw-extra-bold);
      max-width: 30ch;
   }
}

// -------- footer -------- //
.footer {
   color: hsl(var(--clr-white));
   &__support-links {
      a {
         color: hsl(var(--clr-white));
      }
      list-style: none;
      a:hover {
         color: hsl(var(--clr-accent));
         text-decoration: underline;
      }
   }
   &__social-links {
      list-style: none;
      a {
         color: hsl(var(--clr-white));
      }
      a:hover {
         color: hsl(var(--clr-accent));
         text-decoration: underline;
      }
   }
}

// -------- Modal -------- //

.success {
   &__heading {
      font-size: var(--fs-600);
   }
   &__text {
      font-size: var(--fs-400);
   }
   &__redirect {
      font-size: var(--fs-400);
      color: hsl(var(--clr-white));
   }
}
