.spinner {
   width: 1.5rem;
   -webkit-transform-origin: center;
   -ms-transform-origin: center;
   transform-origin: center;
   -webkit-animation: rotate4 2s linear infinite;
   animation: rotate4 2s linear infinite;
}
.spinner circle {
   fill: none;
   stroke: hsl(0, 0%, 100%);
   stroke-width: 3;
   stroke-dasharray: 1, 200;
   stroke-dashoffset: 0;
   stroke-linecap: round;
   -webkit-animation: dash4 1.5s ease-in-out infinite;
   animation: dash4 1.5s ease-in-out infinite;
}

@-webkit-keyframes rotate4 {
   100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
   }
}

@keyframes rotate4 {
   100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
   }
}

@-webkit-keyframes dash4 {
   0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
   }

   50% {
      stroke-dasharray: 90, 200;
      stroke-dashoffset: -35px;
   }

   100% {
      stroke-dashoffset: -125px;
   }
}

@keyframes dash4 {
   0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
   }

   50% {
      stroke-dasharray: 90, 200;
      stroke-dashoffset: -35px;
   }

   100% {
      stroke-dashoffset: -125px;
   }
}
