:root {
	--clr-light: 231 77% 90%;
   --clr-blue: 229, 31%, 21%;
   --clr-red: 0 94% 66%;

   --clr-white: 0, 0%, 100%;
   --clr-accent: 167, 83%, 45%;
   --clr-gray: 0, 0%, 68%;
   --clr-dark: 0, 0%, 21%;

   --clr-primary: 137, 83%, 65%;
   --clr-secondary: 168, 81%, 94%;
}
