:root {
	--clr-dark: 230 35% 7%;
	--clr-light: 231 77% 90%;
   --clr-black: 0, 0%, 0%;

   --clr-white: 0, 0%, 100%;
   --clr-accent: 167, 83%, 45%;
   --clr-primary: 108, 100%, 1%;
   --clr-primary-btn: 137, 83%, 65%;
   --clr-secondary-btn: 168, 81%, 94%;

   // --clr-accent: hsl(167, 83%, 45%);
   // --clr-primary: hsl(108, 100%, 1%);
   // --clr-secondary: hsl(0, 0%, 100%);
   // --clr-primary-btn: hsl(137, 83%, 65%);
   // --clr-secondary-btn: hsl(168, 81%, 94%);
}
