@use '../utilities/' as u;

.about {
   display: grid;
   gap: var(--gap);
   padding-block: var(--spacing);
   @include u.breakpoint(screen-md){
      padding-block: 5rem;
      
   }
   &__hero{
      padding-inline: var(--spacing);
      display: grid;
      @include u.breakpoint(screen-md) {
         grid-template-columns: 1fr 1fr;
      }
   }
   &__section {
      display: grid;
      gap: var(--gap);
      padding-inline: var(--spacing);
      margin-top: var(--spacing);
      margin-bottom: 4rem;
      @include u.breakpoint(screen-md) {
         grid-template-columns: 1fr 1fr;
      }
   }
   &__image {
      display: flex;
      place-items: center;
      @include u.breakpoint-down(screen-sm){
         grid-row: 1;
      }
   }
   &__heading{
      margin-bottom: 1rem;
   }

   .intro{
      display: grid;
      gap: var(--gap);
   }
   .breifing{
      p{
         margin-block: 1rem;
      }
   }
}
