@use '../utilities/' as u;

.cart {
   width: 25px;
   height: 25px;
}
.explore {
   display: grid;
   gap: var(--gap);
   margin-inline: auto;
   padding: var(--spacing);
   max-width: calc(var(--max-width) + var(--spacing) * 2);
   div {
      display: flex;
      padding: 0.75rem;
      background-color: hsl(var(--clr-secondary));
      align-items: center;
      justify-content: center;
   }
}
// background-attachment: fixed
.explore__hero {
   min-height: 40vh;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   margin-inline: auto;
   gap: var(--gap);
   padding: var(--spacing);
   max-width: calc(var(--max-width) + var(--spacing) * 2);
   background-image: url(https://images.unsplash.com/photo-1461354464878-ad92f492a5a0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGFncmljdWx0dXJlfGVufDB8MHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60);
   background-size: cover;
   background-attachment: fixed;
   @include u.breakpoint(screen-md) {
      min-height: 60vh;
   }
}
.explore__btn {
   padding: 0.375em 1.5em;
   border-radius: 0.3125rem;
   background-color: hsl(var(--clr-accent));
   border: 0.15rem solid hsl(var(--clr-accent));
   transition: all 250ms ease;
   &:hover {
      background: hsl(var(--clr-white));
      color: hsl(var(--clr-accent));
   }
}
.intro__text{
   padding-top: 5rem;
   margin-block: 3rem;
}
.categories {
   max-width: calc(var(--max-width) + var(--spacing) * 2);
   margin-inline: auto;
   margin-block: 2.5rem;
   padding-inline: 1.125rem;
   display: flex;
   flex-direction: column;
   gap: 4rem;
   @include u.breakpoint(screen-md) {
      padding: 0;
   }
   &__list {
      gap: 3rem;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
   }
   .category {
      display: flex;
      padding: 0.75rem;
      min-width: 350px;
      min-height: 350px;
      align-items: center;
      background-color: hsl(var(--clr-secondary));
      background-size: cover;
   }

}
.category:nth-child(1){
   background-image: url(https://plus.unsplash.com/premium_photo-1664277022334-de9ab23c0ee2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8dmVnZXRhYmxlc3xlbnwwfDB8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60);
}
.category:nth-child(2){
   background-image: url(https://images.unsplash.com/photo-1592558480962-903b06077406?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NjJ8fGZydWl0c3xlbnwwfDB8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60);
}
.category:nth-child(3){
   background-image: url(https://images.unsplash.com/photo-1635847163737-c93e3d73bcc6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80);
}
.category:nth-child(4){
   background-image: url(https://images.unsplash.com/photo-1614061810671-e6f5ff055104?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8ODR8fGdyYWluc3xlbnwwfDB8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60);
}
.category:nth-child(5){
   background-image: url(https://images.unsplash.com/photo-1506976785307-8732e854ad03?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8cG91bHRyeXxlbnwwfDB8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60);
}
.category:nth-child(6){
   background-image: url(https://images.unsplash.com/photo-1608634960479-c70cf0c3dece?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fG1pbGt8ZW58MHwwfDB8fHww&auto=format&fit=crop&w=500&q=60);
}
.category:nth-child(7){
   background-image: url(https://images.unsplash.com/photo-1599536884823-1bc4fb5f9dea?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fHNwaWNlc3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60);
}

.detail{
   display: flex;
   flex-direction: column;
   gap: 0.75rem;
   margin: 5rem 0  0 2rem;
}
.products__showcase {
   // display: grid;
   // gap: var(--gap);
   // grid-template-columns: repeat(4, minmax(250px, 1fr));
   // div {
   //    min-width: 250px;
   //    min-height: 150px;
   //    background-color: hsl(var(--clr-secondary));
   // }
}
