@use '../utilities' as u;

.hero {
   gap: 1rem;
   display: grid;
   padding: var(--spacing);
   @include u.breakpoint(screen-md) {
      grid-template-columns: 1.2fr 1fr;
      max-width: calc(var(--max-width) + var(--spacing) * 2);
      margin-inline: auto;
   }
}

.hero__description {
   display: flex;
   flex-direction: column;
   gap: 1.2rem;
   p {
      @include u.breakpoint(screen-md) {
         max-width: 55ch;
      }
      line-height: 1.7;
   }
}

.hero__action {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   @include u.breakpoint(screen-md) {
      padding-right: 10rem;
      flex-direction: row;
   }
   .action-btn {
      cursor: pointer;
      transition: 300ms ease-out;
      width: 100%;
   }
}

.hero__illustration {
   display: flex;
   align-items: center;
   @include u.breakpoint-down(screen-md) {
      grid-row: 1;
   }
}

.action-btn:first-of-type {
   border: none;
   padding: 0.85em;
   border-radius: 0.5rem;
   background-color: hsl(var(--clr-accent));
}
.action-btn:last-of-type {
   border: none;
   padding: 0.85em;
   border-radius: 0.5rem;
   background-color: hsl(var(--clr-secondary));
}

.features {
   display: grid;
   gap: var(--spacing);
   padding: var(--spacing);
   margin-block: 2.625rem;
   @include u.breakpoint(screen-md) {
      margin-block: 5.625rem;
      max-width: calc(var(--max-width) + var(--spacing) * 2);
      margin-inline: auto;
   }
   p {
      max-width: 60ch;
      margin-inline: auto;
      font-size: 18px;
   }

   &__tab {
      display: flex;
      justify-content: center;
   }
}
.features__tab-btn {
   position: relative;
   padding: 0.9375rem 2rem;
   &::after {
      content: '';
      left: 0;
      bottom: 0;
      width: 100%;
      display: block;
      height: 0.2rem;
      position: absolute;
      transform: scaleX(0);
      transform-origin: center;
      background-color: hsl(var(--clr-accent));
      transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
   }
   &:focus::after {
      transform: scaleX(1);
      transform-origin: center;
   }
   &[aria-selected='true']::after {
      transform: scale(1);
      transition: 300ms ease;
   }
}

.features__details {
   display: grid;
   grid-template-columns: 1fr 1fr;
   padding-block: 4.625rem;

   article {
      padding: 2rem 0 0 2rem;
   }
}
