.login {
   display: grid;
   margin-inline: auto;
   margin-block: var(--spacing);
   gap: var(--spacing);
   max-width: 26.5625rem;
   padding: var(--spacing);
   &__alt {
      margin-block: 1rem;
      display: flex;
      justify-content: center;
   }
   &__options {
      display: flex;
      flex-direction: column;
      gap: var(--spacing);
   }
}
.option {
   width: 100%;
   gap: 0.5rem;
   display: flex;
   padding: 0.5rem;
   align-items: center;
   justify-content: center;
   border-radius: 0.3125em;
   background: hsl(var(--clr-white));
   transition: background 300ms ease;
   border: 0.1rem solid hsl(var(--clr-accent));
   &:hover {
      background-color: hsl(var(--clr-secondary));
   }
   &:focus {
      background-color: hsl(var(--clr-secondary));
   }
}

.continue {
   position: relative;
}
.continue::after {
   position: absolute;
   background-color: hsl(var(--clr-light-gray));
   width: 100%;
   height: 2px;
   background-color: hsl(var(--clr-light-gray));
}
