@use '../utilities/' as u;

.market {
   display: grid;
   gap: 2rem;
   padding-inline: var(--spacing);
   padding-bottom: 5rem;
   &__stalls {
      display: grid;
      grid-template-columns: repeat(auto-fit, (minmax(20rem, 1fr)));
      column-gap: 4rem;
      row-gap: 3.5rem;
   }
}
.stall {
   display: flex;
   flex-direction: column;
   gap: var(--gap);
   &__image {
      width: 100%;
      height: 300px;
      object-fit: cover;
      aspect-ratio: 1/1;
      background-color: hsl(var(--clr-secondary));
      border-top-right-radius: 0.625rem;
      border-top-left-radius: 0.625rem;
      transition: 300ms ease;
   }
   &__details:hover > &__image {
      scale: 1.01;
      transition: 300ms ease;
   }
   &__details {
      display: flex;
      flex-direction: column;
      gap: 0.625rem;
      &-item {
         display: flex;
         align-items: center;
         justify-content: space-between;
      }
   }
   &__btn {
      background-color: hsl(var(--clr-white));
      padding: 0.65em;
      border-radius: 0.3125rem;
      border: 0.125rem solid hsl(var(--clr-accent));
      transition: color, background 300ms ease;
      &:hover {
         background-color: hsl(var(--clr-secondary));
      }
      &:focus-visible {
         outline-offset: 3px;
         outline: 3px hsl(var(--clr-accent)) solid;
      }
   }
}

.item-detail {
   display: grid;
   gap: var(--gap);
   padding-bottom: 4rem;
   @include u.breakpoint(screen-md) {
      grid-template-columns: 1.1fr 1fr;
      padding-block: 3rem;
   }
   .product__image {
      width: 100%;
      max-height: 450px;
      object-fit: cover;
      aspect-ratio: 1/1;
      background-color: hsl(var(--clr-secondary));
      border-radius: 0.625rem;
   }
   &__image {
      background-color: hsl(var(--clr-secondary));
   }
   &__description {
      padding-inline: var(--spacing);
      display: flex;
      flex-direction: column;
      gap: var(--gap);
   }
   .detail-btn {
      padding: 0.65em;
      border-radius: 0.3125rem;
      background-color: hsl(var(--clr-white));
      border: 0.125rem solid hsl(var(--clr-accent));
      transition: color, background 300ms ease;
      &:hover {
         background-color: hsl(var(--clr-secondary));
      }
      &:focus-visible {
         outline-offset: 3px;
         outline: 3px hsl(var(--clr-accent)) solid;
      }
   }
}

.product-details {
   margin-top: var(--spacing);
   display: flex;
   flex-direction: column;
   gap: var(--gap);
   padding-inline: var(--spacing);
}

.farm-details {
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-size: var(--fs-400);
   &--name {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-weight: var(--fw-medium);
   }
   &--location {
      display: flex;
      align-items: center;
      gap: 0.5rem;
   }
}
.item__price {
   display: flex;
   justify-content: space-between;
}
.item-desc {
   margin-block: 1rem;
   line-height: 1.7;
}

.back-btn {
   display: flex;
   align-items: center;
   transition: 250ms ease-out;
   gap: 0.5rem;
   width: fit-content;
   padding: 0.5rem;
  
   &:hover {
      transform: translateX(-0.35rem);
   }
}
.actions {
   display: grid;
   grid-template-columns: 1fr 1fr;
}
.loading {
   gap: 7.5rem;
   display: flex;
   position: relative;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   margin: auto;
   width: fit-content;
   height: 80%;
}
.filter{
   display: flex;
   align-items: center;
   gap: 0.75rem;
   flex-wrap: wrap;
   &__heading{
      font-size: var(--fs-400);
      font-weight: var(--fw-medium);
      margin-bottom: 0.5em;
   }
   &__btn{
      padding: 0.45em 0.75em;
      border-radius: 0.3125rem;
      background-color: hsl(var(--clr-white));
      border: 0.1rem solid hsl(var(--clr-accent));
      transition: color, background 300ms ease;
      &:hover {
         background-color: hsl(var(--clr-secondary));
      }

      &--active{
         background-color: hsl(var(--clr-secondary));
      }
   }
}