@use '../utilities/' as u;

.input {
   position: relative;
   margin-bottom: var(--spacing);

   &__field {
      width: 100%;
      outline: transparent;
      padding-block: 0.75rem;
      border-radius: 0.3125em;
      padding-inline: 0.75rem 2.5rem;
      border: 0.1rem solid hsl(var(--clr-gray));
      &::placeholder {
         color: transparent;
      }
      &:focus-visible {
         border: hsl(var(--clr-accent)) 0.1rem solid;
      }
   }
   &__label {
      top: 0.85rem;
      left: 0.75rem;
      position: absolute;
      padding: 1px 0.3125rem;
      transition: all 200ms ease;
      transform: translateY(-110%);
      background: hsl(var(--clr-white));
   }
}

.input--error{
   .input__field {
      border: 0.1rem solid hsl(var(--clr-red));
      &:focus-visible {
         border: hsl(var(--clr-accent)) 0.125rem solid;
      }
   }
   .input__label {
      color: hsl(var(--clr-red));
   }
}

.input__field:placeholder-shown + .input__label {
   top: 0.85rem;
   left: 1rem;
   padding: 0;
   transform: translateY(0);
}

.login,
.signup {
   &__form-btn {
      width: 100%;
      padding: 0.75rem;
      border-radius: 0.3125em;
      background: hsl(var(--clr-accent));
      transition: color, background 300ms ease;
      border: 0.15rem solid hsl(var(--clr-accent));
      &:focus-visible {
         outline: 0.15rem solid hsl(var(--clr-accent));
         outline-offset: 3px;
      }
   }
}
.eye {
   fill: hsl(var(--clr-dark));
   &:hover {
      fill: hsl(var(--clr-accent));
   }
}
.pass-btn {
   right: 0;
   top: 50%;
   border: 0;
   position: absolute;
   max-width: fit-content;
   padding-inline: 0.25rem;
   transform: translate(-50%, -50%);
   background-color: hsl(var(--clr-white));
   &:focus-visible .eye {
      fill: hsl(var(--clr-accent));
   }
}
