dialog {
   inset: 0;
   border: 0;
   padding: 0;
   z-index: 100;
   margin: auto;
   position: fixed;
   align-items: center;
   border-radius: 0.35rem;
   flex-direction: column;
   justify-content: center;
   animation: slide-down 400ms forwards;
}
dialog::backdrop {
      opacity: 0;
      background: hsl(0 0% 0% / 0.7);
}
dialog[open]::backdrop {
   animation: fade-in 350ms forwards;
}
dialog[open] {
      display: flex;
      animation: slide-down 400ms forwards;
}

// -------- snackbar  -------- //
.snackbar {
   position: fixed;
   z-index: 20;
   top: 1%;
   right: 2.5%;
   width: 95%;
   padding: 0.5rem;
   background: hsl(var(--clr-accent));
   color: hsl(var(--clr-white));
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 0.5rem;
   border-radius: 0.3125rem;
   transform: translateY(-2rem);
   transition: 300ms ease-out;
   &--error {
      background: hsl(var(--clr-red));
   }
   &--active {
      transform: translateY(0);
      transition: 300ms ease;
      transition-delay: 500ms;
   }
   &--inactive {
      transform: translateY(-120%);
   }
}
