dialog {
   inset: 0;
   border: 0;
   z-index: 100;
   padding: 0;
   margin: auto;
   position: fixed;
   align-items: center;
   border-radius: 0.35rem;
   flex-direction: column;
   justify-content: center;
   animation: slide-in 400ms forwards;
}
dialog::backdrop {
   background: hsl(0 0% 0% / 0.7);
   opacity: 0;
}
dialog[open]::backdrop {
   animation: fade-in 350ms forwards;
}
dialog[open] {
   animation: slide-in 350ms forwards;
   display: flex;
}

// -------- success modal -------- //
.success {
   display: flex;
   flex-direction: column;
   gap: 0.75rem;
   padding: var(--spacing);
   // background-color: hsl(var(--clr-accent));
   &__heading {
      color: hsl(var(--clr-blue));
   }
   &__text {
      // margin-bottom: 1rem;
   }
   &__redirect {
      border-radius: 0.35rem;
      background-color: hsl(var(--clr-accent));
      padding: 0.75rem;
      width: fit-content;
   }
}
