@use '../utilities' as u;

header {
   padding: var(--spacing);
   background-color: hsl(var(--clr-white));
   @include u.breakpoint-down(screen-md) {
      position: sticky;
      top: 0;
      z-index: 10;
   }
}
.logo {
   &:focus-visible {
      outline: 3px hsl(var(--clr-accent)) solid;
      outline-offset: 4px;
   }
}
.header {
   display: flex;
   align-items: center;
   gap: var(--gap, 1rem);
   transition: all 300ms ease;
   justify-content: space-between;
   background-color: hsl(var(--clr-white));
   @include u.breakpoint(screen-md) {
      margin-inline: auto;
      max-width: calc(var(--max-width));
   }

   &__nav {
      padding: 0;
      display: flex;
      list-style: none;
      gap: var(--gap, 1rem);
      background-color: hsl(var(--clr-white));
      transition: 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
   }

   .toggle[aria-expanded='true'] + .blur {
      @include u.breakpoint-down(screen-md) {
         transform: translateX(0);
      }
   }
}

@include u.breakpoint-down(screen-md) {
   .header__nav {
      z-index: 5;
      position: fixed;
      inset: 4rem 0 0 0;
      flex-direction: column;
      // transform: translateX(100%);
      max-height: 0;
      overflow: hidden;
      transition: all 300ms ease-in-out;   
      
      &[data-visible='true'] {
         padding-block: min(8rem, 10vh) 3rem;
         // transform: translateX(0);
         max-height: 100%;
      }
   }
}

.header__nav li {
   cursor: pointer;
   position: relative;
   padding: 0.625rem 0;

   @include u.breakpoint-down(screen-md) {
      padding-inline: 2rem;
      padding-block: 0.3rem;
   }
}
.link,
.link--active {
   &:focus-visible {
      outline: 3px hsl(var(--clr-accent)) solid;
      outline-offset: 4px;
   }
}
.link {
   &-num {
      margin-right: 0.5em;
   }
   &:focus-visible::after {
      transform: scaleY(1);
      transform-origin: top;
   }
   &:hover::after {
      transform: scaleY(1);
      transform-origin: top;
   }
   &::after {
      content: '';
      right: 0;
      height: 100%;
      width: 0.25rem;
      margin-bottom: 0;
      position: absolute;
      transform: scaleY(0);
      transform-origin: bottom;
      background-color: hsl(var(--clr-accent));
      transition: transform 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      @include u.breakpoint-down(screen-md) {
         top: 0;
      }
   }
   @include u.breakpoint(screen-md) {
      &::after {
         left: 0;
         bottom: 0;
         width: 100%;
         height: 0.15rem;
         transform: scaleX(0);
         transform-origin: bottom right;
      }
      &:focus-visible::after {
         transform: scaleX(1);
         transform-origin: bottom left;
      }
      &:hover::after {
         transform: scaleX(1);
         transform-origin: bottom left;
      }
   }
}

.link--active::after {
   @extend .link;
   transform: scale(1);
   background-color: hsl(var(--clr-accent));
}

.login-btn {
   padding: 0.375em 1.5em;
   border-radius: 0.3125rem;
   background: hsl(var(--clr-accent));
   transition: color, background 300ms ease;
   border: 0.15rem solid hsl(var(--clr-accent));
   &:hover {
      background: hsl(var(--clr-white));
   }
   &:focus-visible {
      outline: 3px hsl(var(--clr-accent)) solid;
      outline-offset: 4px;
   }
   @include u.breakpoint-down(screen-md) {
      margin-inline: 2rem;
      margin-top: auto;
   }
}
