@use '../utilities' as u;

.toggle {
   padding: 0;
   z-index: 10;
   gap: 0.3rem;
   display: flex;
   width: 1.5rem;
   margin: 0.125rem;
   flex-direction: column;
   justify-content: center;
   &:focus-visible {
      outline: 0.125rem solid hsl(var(--clr-accent));
      outline-offset: 0.3125rem;
   }
   .line {
      width: 100%;
      height: 0.125rem;
      transition: 250ms ease;
      background-color: hsl(var(--clr-blue));
   }
   .top[data-active='true'] {
      transform: translateY(0.25rem) rotate(45deg);
   }
   .bottom[data-active='true'] {
      transform: translateY(-0.16rem) rotate(-45deg);
   }
   @include u.breakpoint(screen-md) {
      display: none;
   }
}
